.content {
  position: relative;
  background-color: black;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.large-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  height: calc(100vh - 56px);
  width: 100vw;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  h5 {
    margin: 0;
    width: 100%;
    font-weight: 300;
  }
  p {
    margin: 0;
    width: 100%
  }
  a{
    font-size: 1.5rem;
    padding: $s-size $m-size;
  }

}



.thin {
  font-weight: 100;
  font-size: 1.5rem;
  word-break: break-all;
}

.fa-angle-double-down {
  position: absolute;
  color: white;
  bottom: 50px;
  left: 50%;
  animation: pulse 3.5s infinite ease 2s;
}
