.content {
  position: relative;
  background-color: black;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.large-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  height: calc(100vh - 106px);
  width: 100vw;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.thin {
  font-weight: 100;
  margin-right: 1.6rem;
}

.fa-angle-double-down {
  position: absolute;
  color: white;
  bottom: 50px;
  left: 50%;
  animation: pulse 3.5s infinite ease 2s;
}
