.experience-container {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  margin-left: 1rem;
  @media (min-width: $desktop-breakpoint) {
    margin: 1rem 0 0 35rem;
    border-bottom: 1px solid $gunmetal;

  }
}

.experience-container-second {
    display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  @media (min-width: $desktop-breakpoint) {
    margin: 1rem 0 0 45rem;
  }
}

.experience-inner-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: $s-size 0;
  @media (min-width: $desktop-breakpoint) {
    font-size: 1.8rem;
  }
}

.company {
  margin: 0;
  @media (min-width: $desktop-breakpoint) {
    font-size: 1.8rem;
  }
}

.time {
  margin: 0;
  @media (min-width: $desktop-breakpoint) {
    font-size: 1.8rem;
  }
}

