.footer {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $xl-size;
  width: 100%;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

  }
}

.links {
  color: lighten($black, 50%);
  font-weight: lighter;
  margin: 0 $m-size;
  text-decoration: none;
  text-shadow: 1px 1px 5px darken($off-white, 50%);
  transition: color 200ms ease,
              font-weight 200ms ease;
  &:hover {
    color: white;
    border-bottom: 2px solid white;
    transition: color 200ms ease,
                font-weight 200ms ease;
  }
}
