.form {
  margin: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page {
  height: calc(100vh - 20rem);
  margin-bottom: 5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 2rem;
  @media (min-width: $desktop-breakpoint) {
    width: 50vw;
  }
}

.text {
  flex-grow: 1;
  margin-top: .3rem;
  background-color: lighten(black, 15%);
  border: none;
  color: white;
  height: 4rem;
  &:focus {
    background-color: lighten(black, 15%);
    color: white
  }
}

.message {
  flex-grow: 1;
  height: 20vh;
  margin-top: .3rem;
  background-color: lighten(black, 15%);
  color: white;
  border: none;
}

.contact-button-submit {
  color: white;
  background-color: $gunmetal;
  height: 4rem;
  border-radius: 3px;
  padding: $s-size $m-size;
  margin: 1rem 0 0 0;
  border: none;
  @media (min-width: $desktop-breakpoint) {
    width: 50%;
    margin: 1rem auto 0 auto;
  }
}
