.navbar {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  margin: $m-size;
  padding: 0;
  position: sticky !important;
  top: 0px !important;
  z-index: 10;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.navbar-links a {
  margin: $m-size $m-size 0 $m-size;
  border-bottom: 2px solid $gunmetal;
  font-size: 2rem;

}

.home-link {
  margin: 0 $s-size;
  padding-bottom: $xl-size;
  text-align: center;
  font-size: 2rem;
  @media (min-width: $desktop-breakpoint) {
    padding-bottom: 0;
  }
}

.navbar-link {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  padding-bottom: .5rem;
  &:hover {
    border-bottom: 2px solid white;
    transition: color .2s ease;
  }
}

.active {
  color: white;
  border-bottom: 2px solid white !important;
  font-weight: bolder;
}

.contact-button {
  border: 2px solid $gunmetal;
  border-radius: 25px;
  padding: $s-size $m-size;
  background-color: $gunmetal;
  &:hover {
    background-color: lighten($gunmetal, 6%);
    border-bottom: 2px solid $gunmetal;
    transition: background-color .3s ease;
  }
}

.contact-button--secondary {
  font-weight: 300;
  font-size: 3rem;
  width: 42%;
  color: white;
  text-decoration: none;
  margin: 100px auto 0 auto;
  padding: 0;
  @media (min-width: $desktop-breakpoint) {
    width: 18%;
  }
}

