.project {
  margin: 2rem auto;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  color: white;

  @media (min-width: $desktop-breakpoint) {
    width: 75%;
    height: 60vh;
  }
}

.project:first-of-type {
  margin-top: 5rem;
}

.upper-card {
 height: 35rem;
 background-size: 100% 100%;
}

