.navbar {
  align-items: center;
  background: lighten($black, 10%);
  border-bottom: 1px solid darken($gunmetal, 30%);
  box-shadow: 1px 1px 1000px darken($light-gray, 35%);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin: 0;
  padding: $s-size;
}

.navbar-links a {
  padding: 0 $m-size;
}

.home-link {
  padding: 0 $s-size;
}

.navbar-link {
  color: $off-white;
  font-weight: lighter;
  text-decoration: none;
}

.active {
  color: lighten($dark-red, 5%);
  font-style: italic;
  font-weight: bolder;
}
