.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: $s-size;
  background: $off-white;
  border-bottom: 1px solid $light-blue;
  height: 4rem;
  box-shadow: inset 0px -1px 5px darken($light-blue, 10%);
}

.navbar-links a {
  padding: 0 $s-size;
}

.home-link {
  padding: 0 $s-size;
}

.navbar a {
  text-decoration: none;
  color: $dark-blue;
  text-shadow: 1px 1px 1px darken($dark-blue, 10%);
  text-shadow: inset -1px -1px 1px darken($dark-blue, 10%);
}
