@keyframes  colorShift {

  from {
    color: white;
  }

  50% {
    color: darken(white, 25%);
  }

  to {
    color: white;
  }
}

@keyframes pulse-and-slide {
  from {
    opacity: 0;
    bottom: 100px;
  }
  50% {
    opacity: .8;
    bottom: 75px
  }
  to {
    opacity: 0;
    bottom: 50px;
  }
}
