html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: black;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.content {
  min-height: calc(100vh - 144px);
}

