// Colors
$off-white: #c8c8c8;
$light-gray: #b3b3b3;
$gunmetal: #293241;
$black: #000;
$dark-red: #Db324d;
$color-shift: #222;

// Sizing
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
