// Colors
$off-white: #fcfafa;
$light-blue: #c8d3d5;
$med-blue: #a4b8c4;
$dark-blue: #6e8387;
$neon-green: #0cca4a;

// Sizing
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
